In [77]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

df=pd.read_csv("/Users/ericamorales/Desktop/bootcamp/Project4-Walkability-Index/EPA_SmartLocationDatabase_V3_Jan_2021_Final (4).csv")
df.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.810000e+11,4.810000e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.810000e+11,4.810000e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.810000e+11,4.810000e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.810000e+11,4.810000e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.810000e+11,4.810000e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752

In [78]:
y=df[['NatWalkInd']]
y.head()

   NatWalkInd
0   14.000000
1   10.833333
2    8.333333
3   15.666667
4   10.166667

In [79]:
X=df.drop('NatWalkInd', axis=1)
X.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DR,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,Shape_Length,Shape_Area
0,1,4.810000e+11,4.810000e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000525,0.184697,0.000476,0.137707,6,14,15,17,3110.360820,297836.0831
1,2,4.810000e+11,4.810000e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000919,0.323221,0.000801,0.231868,3,10,12,14,3519.469110,484945.1466
2,3,4.810000e+11,4.810000e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000894,0.314628,0.000736,0.213146,1,1,7,17,1697.091802,106705.9281
3,4,4.810000e+11,4.810000e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000653,0.229821,0.000708,0.205018,16,10,17,17,2922.609204,481828.4303
4,5,4.810000e+11,4.810000e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.000469,0.164863,0.000433,0.125296,4,7,11,14,3731.971773,687684.7752

In [80]:
list(X.columns)

['OBJECTID',
 'GEOID10',
 'GEOID20',
 'STATEFP',
 'COUNTYFP',
 'TRACTCE',
 'BLKGRPCE',
 'CSA',
 'CSA_Name',
 'CBSA',
 'CBSA_Name',
 'CBSA_POP',
 'CBSA_EMP',
 'CBSA_WRK',
 'Ac_Total',
 'Ac_Water',
 'Ac_Land',
 'Ac_Unpr',
 'TotPop',
 'CountHU',
 'HH',
 'P_WrkAge',
 'AutoOwn0',
 'Pct_AO0',
 'AutoOwn1',
 'Pct_AO1',
 'AutoOwn2p',
 'Pct_AO2p',
 'Workers',
 'R_LowWageWk',
 'R_MedWageWk',
 'R_HiWageWk',
 'R_PCTLOWWAGE',
 'TotEmp',
 'E5_Ret',
 'E5_Off',
 'E5_Ind',
 'E5_Svc',
 'E5_Ent',
 'E8_Ret',
 'E8_off',
 'E8_Ind',
 'E8_Svc',
 'E8_Ent',
 'E8_Ed',
 'E8_Hlth',
 'E8_Pub',
 'E_LowWageWk',
 'E_MedWageWk',
 'E_HiWageWk',
 'E_PctLowWage',
 'D1A',
 'D1B',
 'D1C',
 'D1C5_RET',
 'D1C5_OFF',
 'D1C5_IND',
 'D1C5_SVC',
 'D1C5_ENT',
 'D1C8_RET',
 'D1C8_OFF',
 'D1C8_IND',
 'D1C8_SVC',
 'D1C8_ENT',
 'D1C8_ED',
 'D1C8_HLTH',
 'D1C8_PUB',
 'D1D',
 'D1_FLAG',
 'D2A_JPHH',
 'D2B_E5MIX',
 'D2B_E5MIXA',
 'D2B_E8MIX',
 'D2B_E8MIXA',
 'D2A_EPHHM',
 'D2C_TRPMX1',
 'D2C_TRPMX2',
 'D2C_TRIPEQ',
 'D2R_JOBPOP',
 'D2R_WRKEMP',
 'D2A_WRKEMP',
 'D2C_WREMLX',
 'D3A',
 'D3AAO',
 'D3AMM',
 'D3APO',
 'D3B',
 'D3BAO',
 'D3BMM3',
 'D3BMM4',
 'D3BPO3',
 'D3BPO4',
 'D4A',
 'D4B025',
 'D4B050',
 'D4C',
 'D4D',
 'D4E',
 'D5AR',
 'D5AE',
 'D5BR',
 'D5BE',
 'D5CR',
 'D5CRI',
 'D5CE',
 'D5CEI',
 'D5DR',
 'D5DRI',
 'D5DE',
 'D5DEI',
 'D2A_Ranked',
 'D2B_Ranked',
 'D3B_Ranked',
 'D4A_Ranked',
 'Shape_Length',
 'Shape_Area']

In [81]:
sm_df=df.sample(n=1000)
sm_df.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
67155,67156,1.200000e+11,1.200000e+11,12,9,62600,3,NaN,NaN,37340.0,...,0.883169,0.015568,0.886205,11,12,13,19,14.500000,3847.280989,8.631170e+05
130466,130467,2.800000e+11,2.800000e+11,28,1,600,2,NaN,NaN,35020.0,...,-99999.000000,-99999.000000,-99999.000000,9,12,7,1,6.166667,6346.098207,2.006429e+06
44613,44614,6.111006e+10,6.111006e+10,6,111,5907,1,348.0,"Los Angeles-Long Beach, CA",37100.0,...,0.817210,0.005558,0.580531,20,20,20,20,20.000000,4298.135439,9.794072e+05
216207,216208,5.510000e+11,5.510000e+11,55,79,4200,1,376.0,"Milwaukee-Racine-Waukesha, WI",33340.0,...,0.492040,0.001250,0.518901,3,6,20,19,14.500000,1749.672978,1.327167e+05
104982,104983,2.210000e+11,2.210000e+11,22,67,950500,3,384.0,"Monroe-Ruston, LA",33740.0,...,-99999.000000,-99999.000000,-99999.000000,20,14,10,1,9.333333,6517.903927,1.744997e+06

In [82]:
sm_df.shape

(1000, 117)

In [83]:
y=sm_df[['NatWalkInd']]
y.head()

        NatWalkInd
67155    14.500000
130466    6.166667
44613    20.000000
216207   14.500000
104982    9.333333

In [84]:
X=sm_df.drop('NatWalkInd', axis=1)
X.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DR,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,Shape_Length,Shape_Area
67155,67156,1.200000e+11,1.200000e+11,12,9,62600,3,NaN,NaN,37340.0,...,0.014009,0.883169,0.015568,0.886205,11,12,13,19,3847.280989,8.631170e+05
130466,130467,2.800000e+11,2.800000e+11,28,1,600,2,NaN,NaN,35020.0,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,9,12,7,1,6346.098207,2.006429e+06
44613,44614,6.111006e+10,6.111006e+10,6,111,5907,1,348.0,"Los Angeles-Long Beach, CA",37100.0,...,0.014653,0.817210,0.005558,0.580531,20,20,20,20,4298.135439,9.794072e+05
216207,216208,5.510000e+11,5.510000e+11,55,79,4200,1,376.0,"Milwaukee-Racine-Waukesha, WI",33340.0,...,0.001157,0.492040,0.001250,0.518901,3,6,20,19,1749.672978,1.327167e+05
104982,104983,2.210000e+11,2.210000e+11,22,67,950500,3,384.0,"Monroe-Ruston, LA",33740.0,...,-99999.000000,-99999.000000,-99999.000000,-99999.000000,20,14,10,1,6517.903927,1.744997e+06

In [85]:
sm_df.dropna(inplace=True)

In [86]:
column_data_type = sm_df['CSA_Name'].dtypes
column_data_type

dtype('O')

In [87]:
#sm_df['CSA_Name'] = sm_df['CSA_Name'].astype(str)

In [88]:
column_data_type = sm_df['CSA_Name'].dtypes
column_data_type

dtype('O')

In [89]:
sm_df = pd.get_dummies(sm_df, columns=['CSA_Name'], drop_first=True)

In [95]:
column_data_type = sm_df['CSA_Name'].dtypes
column_data_type

KeyError: 'CSA_Name'

In [90]:
sm_df = pd.get_dummies(sm_df, columns=['CBSA_Name'], drop_first=True)

In [96]:
sm_df.dtypes

OBJECTID                                       int64
GEOID10                                      float64
GEOID20                                      float64
STATEFP                                        int64
COUNTYFP                                       int64
                                              ...
CBSA_Name_Winchester, VA-WV                     bool
CBSA_Name_Wisconsin Rapids-Marshfield, WI       bool
CBSA_Name_Worcester, MA-CT                      bool
CBSA_Name_York-Hanover, PA                      bool
CBSA_Name_Zanesville, OH                        bool
Length: 453, dtype: object

In [92]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [94]:
# Initializing and training the Random Forest regressor
regressor = RandomForestRegressor(n_estimators=100, random_state=42)
regressor.fit(X_train, y_train)

ValueError: could not convert string to float: 'Grand Rapids-Kentwood-Muskegon, MI'

In [ ]:
# Optionally, to predict values
predictions = regressor.predict(X_test)

In [ ]:
# Calculating the metrics
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (RÂ²): {r2}")

In [ ]:
# which columns contreibute the most below 
# Getting the feature importances
feature_importances = regressor.feature_importances_

# Mapping feature importances to the corresponding feature names
features = X.columns
importance_df = pd.DataFrame({'Feature': features, 'Importance': feature_importances})

# Sorting the features by importance
importance_df = importance_df.sort_values(by='Importance', ascending=False)

print(importance_df)