In [12]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

df=pd.read_csv("EPA_SmartLocationDatabase_V3_Jan_2021_Final (4).csv")
df.head()

,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
0,1,4.810000e+11,4.810000e+11,48,113,7825,4,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.184697,0.000476,0.137707,6,14,15,17,14.000000,3110.360820,297836.0831
1,2,4.810000e+11,4.810000e+11,48,113,7825,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.323221,0.000801,0.231868,3,10,12,14,10.833333,3519.469110,484945.1466
2,3,4.810000e+11,4.810000e+11,48,113,7825,3,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.314628,0.000736,0.213146,1,1,7,17,8.333333,1697.091802,106705.9281
3,4,4.810000e+11,4.810000e+11,48,113,7824,1,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.229821,0.000708,0.205018,16,10,17,17,15.666667,2922.609204,481828.4303
4,5,4.810000e+11,4.810000e+11,48,113,7824,2,206.0,"Dallas-Fort Worth, TX-OK",19100.0,...,0.164863,0.000433,0.125296,4,7,11,14,10.166667,3731.971773,687684.7752

In [2]:
df = df.drop(['CSA_Name', 'CBSA_Name'], axis=1)

In [3]:
y = df[['NatWalkInd']]  # Target variable
x = df.drop('NatWalkInd', axis=1)  # Feature matrix without the target variable

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=78)

In [5]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [9]:
rf_model = RandomForestRegressor(n_estimators=100,  # Reduced number of trees
                                  max_depth=10,      # Limiting tree depth
                                  n_jobs=-1,         # Use all available cores
                                  random_state=78)

In [10]:
rf_model = rf_model.fit(x_train_scaled, y_train.values.ravel())

In [11]:
predictions = rf_model.predict(x_test_scaled)

In [13]:
# Predictions on the test set
y_pred = rf_model.predict(x_test_scaled)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R²): {r2}")

Mean Absolute Error (MAE): 0.22941490904380868
Mean Squared Error (MSE): 0.09257641391240828
R-squared (R²): 0.9951639487376414

In [14]:
feature_importances = rf_model.feature_importances_
features = x_train.columns
importance_df = pd.DataFrame({'Feature': features, 'Importance': feature_importances}).sort_values(by='Importance', ascending=False)

print(importance_df)

       Feature    Importance
98        D5BR  5.735903e-01
99        D5BE  1.259468e-01
51         D1C  1.029817e-01
84         D3B  7.946083e-02
71  D2B_E8MIXA  5.931546e-02
..         ...           ...
11    CBSA_WRK  1.328212e-07
3      STATEFP  1.311899e-07
6     BLKGRPCE  1.159029e-07
95         D4E  1.131408e-07
91      D4B025  5.908568e-08

[114 rows x 2 columns]